<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%=link_to "Beauty Basics", "https://www.instagram.com/beautybasicsbymh/", class: "text-white"%></small>
  </div>
</footer>
